  .manageTasksButton {
      border: none;
      color: teal;
      background-color: white;
      font-size: 12px;
      font-weight: bold;
      padding: 0;
      transition: 0.5s;
  }
  
  .manageTasksButton:hover {
      color: rgb(4, 173, 173);
  }
  
  .manageTasksButton:disabled {
      color: rgb(176, 180, 180);
  }
  
  .list__button {
      display: grid;
      color: white;
      min-width: 25px;
      max-width: 25px;
      height: 25px;
      justify-items: center;
      align-items: center;
      border: none;
      transition: .5s;
  }
  
  .list__button--check:hover {
      background-color: rgb(52, 167, 17);
  }
  
  .list__button--check {
      background-color: green;
  }
  
  .list__button--delete {
      background-color: red;
  }
  
  .list__button--delete:hover {
      background-color: rgb(255, 98, 98);
  }