  .container {
      margin: 0 auto;
      min-width: 190px;
      max-width: 600px;
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
  }
  
  .container__mainHeader {
      font-family: 'Francois One', sans-serif;
  }
  
  .container__header {
      background-color: white;
      padding: 10px 10px 10px 10px;
      font-size: 18px;
      font-weight: bold;
  }
  
  .container__section {
      display: grid;
      grid-template-columns: 1fr auto;
      grid-gap: 15px;
      margin-bottom: 5px;
      margin-top: 2px;
      background-color: white;
      padding: 10px;
  }
  
  @media(max-width:600px) {
      .container__section {
          grid-template-columns: 1fr;
      }
  }
  
  .container__inputField {
      padding: 7px;
      border: 1px solid rgb(236, 236, 236);
      min-width: 160px;
  }
  
  .container__submitButton {
      color: white;
      background-color: teal;
      border-style: none;
      padding: 7px;
      transition: .5s;
      font-size: 12px;
  }
  
  .container__submitButton:hover {
      background-color: rgb(4, 173, 173);
      transform: scale(1.03);
  }
  
  .container__section--list {
      background-color: white;
      padding: 18px 10px;
      margin-top: 2px;
  }
  
  .section {
      display: grid;
      grid-template-columns: 1fr auto auto;
  }
  
  @media(max-width:600px) {
      .section {
          grid-template-columns: 1fr;
      }
  }
  
  .container__header--buttons {
      display: grid;
      grid-gap: 5px;
      padding: 10px;
      background-color: white;
  }
  
  @media(max-width:600px) {
      .container__header--buttons {
          grid-template-columns: 1fr;
          align-items: center;
      }
  }
  
  .manageTasksButton {
      border: none;
      color: teal;
      background-color: white;
      font-size: 12px;
      font-weight: bold;
      padding: 0;
      transition: 0.5s;
  }
  
  .manageTasksButton:hover {
      color: rgb(4, 173, 173);
  }
  
  .manageTasksButton:disabled {
      color: rgb(176, 180, 180);
  }