.list__item {
    display: flex;
    border-bottom: 1.5px solid rgb(236, 236, 236);
    padding: 5px 0px 5px 0px;
    overflow-wrap: anywhere;
    align-items: center;
}

.list__item--content {
    flex-grow: 1;
    margin: auto 15px;
    color: black;
}

.list__item--done {
    text-decoration: line-through;
}

.list__button {
    display: flex;
    justify-content: center;
    color: white;
    min-width: 25px;
    max-width: 25px;
    height: 25px;
    align-items: center;
    border: none;
}

.list__button--check:hover {
    background-color: rgb(52, 167, 17);
}

.list__button--check {
    background-color: green;
}

.list__button--delete {
    background-color: red;
}

.list__button--delete:hover {
    background-color: rgb(255, 98, 98);
}