.list {
    background-color: white;
    padding: 18px 10px;
    margin-top: 2px;
}

.list__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    border-bottom: 1.5px solid rgb(236, 236, 236);
    padding: 5px 0px 5px 0px;
    word-break: break-word;
    align-items: center;
}

.list__item--content {
    margin: auto 15px;
    color: black;
}

.list__item--done {
    text-decoration: line-through;
}

.list__item--hide {
    display: none;
}